{% extends 'base.html' %}
{% load static %}
{% block title %}Dreamary 서비스 소개{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <body>
        <main role="main">
    <div class="main article">
        <main role="main">
            <section class="jumbotron text-center">
                <div class="container">
                <h1>드리머리 - 헤어 서비스 020</h1><br>
                <p class="lead text-muted">열정있는 디자이너에게 받는<br> 합리적인 헤어 서비스, 드리머리<br>
                    첫 번째 꿈은 예비헤어디자이너의 꿈이지만,<br>계속해서 사회 다양한 분야의 예비전문가에게<br>기회를 제공하려고 합니다.
                    <br><br>
                    개인의 실제 능력이 그 사람의 간판이 되고<br>개인 브랜딩을 통해 <span class="bold">누구나 본인 스스로를<br>증명할 수 있는 문화</span>를 만들겠습니다.
                </p>
                </div>
            </section>
        </main>

        <footer class="text-muted">
            <div class="container">
                <p class="float-right">
                <a href="#">맨 위로 돌아가기</a>
                </p>
                <p>Develope Dreamary with Django & Bootstrap</p>
                <p>Likelion 8th</p>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    </div>
</html>
{% endblock%}
